
*{
    margin:0;
    padding:0;
    background-color: #00afb5;
}
.App{
    display: grid;
    grid-template-rows: repeat(1, 6fr);
    gap: 5px;
}
#topHeader{
    background-color: #94fbab;
    margin:0;
    border-radius: 15px;
    border:solid 1px black;
    grid-row: 1;
}
.aboutMe{
    grid-row:2;
    margin: 10px;
}
#kai{
    background-color: #94fbab;
    text-align: center;
    border-radius: 15px;
}
#me{
    height:100px;
    width:80px;
    border-radius: 100px;
}
#navBar{
    background-color: #94fbab;
    display: flex;
    justify-content:space-around;
    border-radius: 15px;
}
#navBar a{
    background-color: #94fbab;
    justify-content: space-around;
    color: #391463;
}
#navBar a:hover{
    color: white;
}

#aboutMe{
    text-align: center;
    background-color: #94fbab;
    border-radius: 15px;;
}
#myBio{
    padding:15px;
    background-color: #bcb6ff;
}
#personal{
    padding:15px;
    background-color: #bcb6ff;
}
#Portfolio{
    text-align: center;
    background-color: #94fbab;
    border-radius: 15px;
    height:100%;
    padding: 5px;
}
#Resume{
    text-align: center;
    background-color: #94fbab;
    border-radius: 15px;
}

#foot{
    width:100%;
    text-align: center;
    margin:0;
    bottom:0 ;
    background-color: cyan;
    grid-row:6;
}
#foot, h3, a, p{
    background-color: #94fbab;

}
#Git, #Gmail, #In{
    height:50px;
    width:50px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #94fbab;
}
.imglink{
    background-color: #94fbab;
    margin-top: 5px;
    margin-bottom: 5px;
}