#emailForm, #note, #click{
    text-align: center;
    background-color: rgb(150, 150, 220);
    border-radius:15px;
}
#email-input{
    background-color: white;
}
#submit{
    background-color: darkcyan;
    border-radius: 5px;
}