
#emailForm{
    height:100%;
}

#emailForm, #note, #click{
    text-align: center;
    background-color: #93e5ab;
    border-radius:15px;
}
#email-input{
    background-color: white;
}
#submit{
    background-color: #7cc6fe;
    border-radius: 5px;
    cursor: pointer;
}