
#aboutMe{
    border-bottom:solid black 1px;
}
.imageContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
#me{
    position: absolute;  
    top: 50px;
    border-radius: 8px;
}
#myBio{
    margin-left: 70px;
    border-bottom:black 1px solid;
}