
.bio{
    display: grid;
    grid-template-rows: 25% 10% 25% 25%;
}
#aboutMe{
    border-bottom:solid black 1px;
}
.imageContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
#me{
    top: 50px;
    border-radius: 8px;
    z-index: 1;
}
#myBio{
    margin-left: 70px;
    border-bottom:black 1px solid;
}