
.bio{
    display: grid;
    grid-template-rows: 25% 10% 25% 25%;
}

#aboutMe{
    border-bottom:solid black 1px;
}
#me{
    border-radius: 8px;
    height:97%;
    z-index: 1;
    border: solid white 2px;
    box-shadow: 3px 3px 3px black;
}
.bioContainer{
    position: relative;
    display: grid;
    grid-template-columns: 47% 6% 47%;
    justify-content: space-between;
    height: 100%;
    margin: 5px;
    border-radius: 15px;
    border: solid white 2px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.692);;
}
#myBio{
    border-bottom:black 1px solid;
    width:100%;
    border-bottom-left-radius: 15px ;
    border-top-left-radius: 15px;
}
#personal{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}