#portfolio{
    display:flex;
    flex-direction:row;
    justify-content: center;
    
}
.accordianItem{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    width: 100%;
 
}

.accordianTitle{
    margin:0 auto;
    width: 70%;
    min-width:110px;
    cursor: pointer;
}
.accordianTitle:hover{
    opacity: 65%;
}
.accordianContent{
    display: flex;
    justify-content: center;
    overflow:hidden;
    transition: all 0.5s ease-in-out;
}
.accordianContent.active{
    height:auto;
}
a{
    background-color:#93e5ab;
}
h3{
    text-align: center;
    border:solid black 1px;
    width: 70%;
    height:40px;
    background-color: #93e5ab;
    border-radius: 15px;
}
#RegEx,
#Blog,
#steamTracker{
    display: flex;
    justify-content: center;
    height:300px;
    width:500px;
    background-color: none;
    margin:0 auto;
    transition: ease-in-out all 0.5s;
}
#steamTracker:hover, #Blog:hover, #RegEx:hover{
border:solid green 3px;
}

#WIP{
    height:300px;
    width:500px;
}
#WIP:hover{
    border:solid 3px green;
}