
#portfolio{
    display: grid;
    grid-template-rows: 5% 95%;
    gap :15px;
    justify-content: center;
    margin: 5px;
}

.projectList{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 40px;
    background-color: #391463;
    justify-content: center;
}
.projectItem{
    justify-self: center;
    text-align: center;
    padding-top: 10px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px white;
}
.projectItem:hover{
    background-color: chartreuse;
    border: solid 2px white;
    box-shadow: 5px 5px 5px green;
}


.projectLink{
    justify-self: center;
    align-self: baseline;
    border-radius: 15px;
    height:60%;
    width:80%;
}
.activePhoto{
   border-radius: 15px;
    height: 100%;
    width:100%;
    justify-self: center;
    align-self: flex-start;
    opacity:60%;
    box-shadow: 5px 5px 5px white;
}
.activePhoto:hover{
border:2px chartreuse solid;
opacity:100%;
box-shadow: 5px 5px 5px green;
}