
#portfolio{
    display: grid;
    justify-content: center;
    margin: 5px;
    border: solid red 1px;
}
#portfolio * {
    border: solid red 1px;
}
.projectList{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 40px;
    background-color: #391463;
}
.projectItem{
    justify-self: center;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 35px;
    border-radius: 5px;
    justify-content: center;
}
.itemText{
    text-align: center;
    padding-top: 5px;
    cursor:pointer;
}