#resume{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#bootcamp{
    background-color: #93e5ab;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#dates{
    background-color: #93e5ab;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#GP{
    margin:0 auto;
    margin-top:5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px rgb(41, 40, 40);
    background-color: #93e5ab;
}
#Skills{
    background-color: #93e5ab;
    margin: 0 auto;
    margin-top: 5px;
    box-shadow: 5px 5px 5px rgb(41, 40, 40);
    margin-bottom: 5px;
}
 li{
    list-style: none;
    background-color: #7cc6fe;
}
ul{
    border-radius: 15px;
    background-color: #7cc6fe;
}
 #download{
    background-color: #f4cbc6;
    box-shadow: 5px 5px 5px rgb(41, 40, 40);
    padding:5px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
}