
#topHeader{
    background-color: cyan;
    margin:0;
    border-radius: 15px;;
}
#kai{
    background-color: cyan;
    text-align: center;
    border-radius: 15px;
}
#me{
    height:100px;
    width:80px;
    border-radius: 100px;
}
#navBar{
    background-color: cyan;
    display: flex;
    justify-content:space-between ;
    border-radius: 15px;;
}
#navBar a{
    background-color: cyan;
    justify-content: space-around;
}

#aboutMe{
    text-align: center;
    background-color: cyan;
    border-radius: 15px;;
}
#myBio{
    padding:15px;
    background-color: rgb(150, 150, 220);
}
#personal{
    padding:15px;
    background-color: rgb(150, 150, 220);
}
#Portfolio{
    text-align: center;
    background-color: cyan;
    border-radius: 15px;
}
#Resume{
    text-align: center;
    background-color: cyan;
    border-radius: 15px;
}
#foot{
    text-align: center;
    margin:0;
    bottom:0;
    background-color: cyan;
}
#foot, h3, a, p{
    background-color: cyan;
}
#Git, #Gmail, #In{
    height:180px;
    width:180px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: cyan;
}
.imglink{
    background-color: cyan;
}