#portfolio{
    display:grid;
    justify-content: center;
}
#steamTracker{
    height:300px;
    width:500px;
    border:solid red 2px;
}
#Blog{
    height:300px;
    width:500px;
    border:solid red 2px;
}
#RegEx{
    height:300px;
    width:500px;
    border:solid red 2px;
}